# Version control
.git
.gitignore

# Dependencies
node_modules
.svelte-kit

# Build output
build
dist

# Environment and local configuration
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# Docker related
Dockerfile
docker-compose.yaml
.dockerignore 